<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                          http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/context
                          http://www.springframework.org/schema/context/spring-context.xsd">
        <context:annotation-config/>
        <context:component-scan base-package="com"/>
        <bean id="bdao" class="com.demo.BDao"/>
        <bean id="bAdvice" class="com.demo.BAdvice"/>
        <bean id="bAdviso" class="org.springframework.aop.framework.ProxyFactoryBean">
            <property name="target" ref="bdao"/>
            <property name="interceptorNames" value="bAdvice"/>
            <property name="proxyInterfaces" value="true"/>
        </bean>
</beans>